@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  margin: 0;
  font-family: 'Righteous', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #141f47;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Righteous';
  src: url('./fonts/Righteous-Regular.ttf') format('ttf');
  font-weight: 400;
}
